body{
	text-align: center;
}
#tweet{
	border-radius: 15px;
	width: 500px;
}
#contenedor div{
	border-radius: 15px;
	width: 500px;
	height: auto;
	padding: 15px 0;
	margin: 5px 0;
	background-color: deepskyblue;
	color: black;
	word-wrap:break-word;
}
#btn-agregar{
	background-color: midnightblue;
	color: azure;
	border-radius: 15px;
	padding: 10px 20px;
	border: 0px;
}
textarea{
	overflow: hidden;
}