@import url('https://fonts.googleapis.com/css?family=Delius|Galada|Luckiest+Guy');
*{
	box-sizing: border-box;
}
html {
	overflow: auto;
}
body{
	text-align: center;
	background-image: url(../img/fondo.jpg);
	position: absolute;
	top: 20px;
	left: 20px;
	bottom: 20px;
	right: 20px;
	padding: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
}
h1{
	background-color: black;
	color: coral;
	font-family: Galada;
	font-size: 50px;
	padding: 20px 0;
}
h2{
	color: coral;
	font-family: Galada;
	font-size: 50px;
}
textarea{
	overflow: hidden;
	border-radius: 15px;
	width: 65%;
	border: 5px solid black;
	font-size: 18px;
	font-family: Delius;
	padding: 15px;
}
#contadorNumeros{
	font-size: 20px;
	font-family: Delius;
	background-color: oldlace;
	padding: 10px;
	width: 70px;
	margin: 0 auto 20px auto;
	border-radius: 5px;
	border: 3px solid black;
	display: inline-block;
}
#btn-agregar{
	background-color:palegreen;
	color: black;
	font-family: Luckiest Guy;
	font-size: 20px;
	border: 3px solid black;
	border-radius: 15px;
	padding: 10px 40px;
	margin-bottom: 40px;
}
#contenedor{
	background-color: black;
	width: 60%;
	margin: 5px auto;
	padding: 10px 0 40px 0;
	background: rgba(0, 0, 0, 0.8);
}
#primerTweet{
	border-radius: 5px;
	width: 70%;
	height: auto;
	padding: 15px;
	background-color: white;
	color: black;
	font-family: Delius;
	font-size: 18px;
	margin: 10px auto;
	text-align: justify;
}
#contenedorTweets div{
	background-color: white;
	color:black;
	font-family: Delius;
	width: 70%;
	border-radius: 5px;
	padding: 15px;
	word-wrap:break-word;
	margin: 10px auto;
	text-align: justify;
	font-size: 18px;
}
.horas{
	width: 100%;
	text-align: right;
	margin:10px 0;
	color: coral;
}
::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.4);
}
@media screen and (max-width : 479px) {
	body{
		position: static;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 0;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	::-webkit-scrollbar {
		width: 0;
	}
	::-webkit-scrollbar-track {
		-webkit-box-shadow:0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	::-webkit-scrollbar-thumb {
		-webkit-border-radius: 0;
		border-radius: 0;
		background-color: transparent;
		-webkit-box-shadow: 0;
	}
	::-webkit-scrollbar-thumb:window-inactive {
		background-color: transparent;
	}
	#contenedor{
		width: 90%;
		background: rgba(0, 0, 0, 0.8);
	}
	textarea{
		width: 85%;
		font-size: 16px;
		border: 3px solid black;
	}
	h1{
		font-size: 30px;
		padding: 10px 0;
	}
	#contenedorTweets div{
		width: 85%;
		font-size: 16px;
	}
	#primerTweet{
		width: 85%;
		font-size: 16px;
	}
	h2{
		font-size: 30px;
	}
	#contadorNumeros{
		font-size: 18px;
		padding: 8px;
		width: 70px;
		margin: 0 auto 20px auto;
		border-radius: 5px;
		border: 2px solid black;
	}
	#btn-agregar{
		font-size: 18px;
		border: 2px solid black;
		padding: 5px 28px;
		border: 2px solid black;
	}
}
